body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.pokemon-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    margin-top: 50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}